- var pageTitle = 'Piano Cover Channel'
- var carouselImages = [
    {url: 'https://i.imgur.com/4tSbCOq.jpg', alt: 'Cover 1'}
  ]
- var descriptionHTML = `
  <p><strong>Kucia Piano | YouTube Channel | Aug. 2020 – Present</strong></p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <ul>
    <li>Film, TV Original Soundtrack, Jazz, K-pop and Anime Music.</li>
    <li>Published videos on YouTube, gaining 28 K+ views, 377+ subscribers, and 866.4 watch time (hours) in the past year.</li>
    <li>Published sheet music on websites, gaining 155.2 K+ views, 3.6 K+ favorites, and an average 4.5/5-star review.</li>
  </ul>
  <p>
    <u><a href="https://www.youtube.com/channel/UCFdI5R6o6_9YCIt56tPUfcg" target="_blank">[Channel Link]</a></u>
    <u><a href="https://musescore.com/user/36272010?share=copy_link" target="_blank">[Sheet Music Here ♩]</a></u>
  </p>
  <p><em>↓ scroll down for video</em></p>
  <br><br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">Popular Uploads</h4>
  <p>盧廣仲 | 刻在我心底的名字 (Your Name Engraved Herein) | 電影《刻在你心底的名字》主題曲 | Piano Cover</p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/hVJkZumgeAY" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
  <p>Aalia(알리아) |Is This Love| Vincenzo OST |韓劇 黑道律師文森佐 | Piano Cover</p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/-C2laNVjlrM" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
  <h4 class="mt-4" style="color: var(--bs-body-color);">Recent Uploads</h4>
  <p>Official髭男dism | Mixed Nuts 綜合堅果 | SPY × FAMILY OP | 間諜家家酒 主題曲 | Piano Cover</p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/onjCgvBermo?si=odKlWrXpf3RykZ4y" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
  <p>With | Twenty Five Twenty One OST | 韓劇 二十五，二十一 | Piano Cover</p>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/AjQckOt1T7g?si=Tz62VqRUzgosA8zv" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen title="YouTube Video"></iframe>
  </div>
`
- var prevHref = 'project-rescore.html'
- var nextHref = 'project-kombucha.html'

extends _project-template.pug