- var pageTitle = 'Fluctuations of Kombucha'
- var carouselImages = [
    {url: 'https://i.imgur.com/Q2ALTrf.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/iyFTSmJ.jpg', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/OnUV1Pd.jpg', alt: 'Cover 3'}
  ]
- var descriptionHTML = `
  <p><strong>Data Sonification | Sound Design | 2022</strong></p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <p>In this interdisciplinary project, I integrated generative music and food biotechnology into one. I utilized Max/MSP
  to pair experimental data with sound parameters and visually depict the fluctuation of microorganisms during
  fermentation. The collected data from Kombucha fermentation was converted into audio and visual devices through
  Sonification.</p>
  <br>
  <p><em>↓ scroll down for video</em></p>
  <br>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/zRGcEdcBPqQ"
      style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen
      title="YouTube Video"></iframe>
  </div>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug