- var pageTitle = 'Diving'
- var carouselImages = [
    {url: 'https://i.imgur.com/r6dOzvs.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/97Mw66w.png', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/QIXXHRr.png', alt: 'Cover 3'},
    {url: 'https://i.imgur.com/qBfU3RT.jpg', alt: 'Cover 4'}
  ]
- var descriptionHTML = `
  <p><strong>Generative Audiovisuals | 2023</strong></p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <p>Freediving is a journey between breaths, pushing human limits, exploring the unknown, and delving into oneself, and this
  audiovisual work is a reflection of my personal diving experience of single-breath diving.</p>

  <p>On the sonic part, this work incorporates recordings of underwater environments, such as submarine volcanic activity,
  and whale calls. Besides, the impulse response reverb of the underwater environment is used to re-create the acoustics,
  evoking the weightless and ethereal atmosphere of the vast ocean.</p>

  <p>Visually, GLSL particles in Touch Designer generate captivating depictions of mesmerizing patterns and refracted light
  through ocean waves. These visuals, based on velocity fields, effectively convey the dynamic disturbances of water ripples.</p>

  <br>
  <p><em>↓ scroll down for video</em></p>
  <br>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/DiLUOI_P8dw?si=26d0-0almoMDGMIg"
      style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen
      title="YouTube Video"></iframe>
  </div>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug