- var pageTitle = 'Creative Coding - p5.js'
- var carouselImages = [
    {url: 'https://i.imgur.com/KW1JPFO.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/PyWUcun.jpg', alt: 'Cover 2'}
  ]
- var descriptionHTML = `
  <p><strong>Brush | p5.js | 2022</strong></p>
  <iframe src="https://openprocessing.org/sketch/1592071/embed/" width="100%" height="400"></iframe>
  <br><br>

  <p><strong>Star Cluster | p5.js | 2022</strong></p>
  <iframe src="https://openprocessing.org/sketch/1588341/embed/" width="100%" height="400"></iframe>
  <br><br>

  <p><strong>Grid Graphics | p5.js | 2022</strong></p>
  <iframe src="https://openprocessing.org/sketch/1589666/embed/" width="100%" height="400"></iframe>
  <br><br>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug