- var pageTitle = 'The Gravity Realm'
- var carouselImages = [
    {url: 'https://i.imgur.com/FhKNqDg.jpg', alt: 'Cover 1'}
  ]
- var descriptionHTML = `
  <p><strong>Sound Installation | 2023</strong><br><br>
  10-channel sound installation + Ambisonics<br>
  Premiered – Taichung, Taiwan, 14 June 2023, National Museum of Nature and Science.</p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <ul>
    <li>In this work, 10-channel speakers are placed at different corners of the exhibition space... </li>
    <li>To achieve this, I utilized ambisonic treatment...</li>
  </ul>
  <p>Generative Music</p>
  <ul>
    <li>Astronomical data, such as gravitational waves... transformed into sound parameters...</li>
  </ul>
  <p>Voyage Golden Records</p>
  <ul>
    <li>Selected tracks from NASA’s Voyager Program... re-edited and combined with data and noise...</li>
  </ul>
  <br>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1532751589&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <div style="font-size: 10px; color: #121212;">... <a href="https://soundcloud.com/chia7541/the-gravity-realm">The Gravity Realm</a></div>
  <br>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1532789380&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <div style="font-size: 10px; color: #121212;">... <a href="https://soundcloud.com/chia7541/blackhole-the-golden-record">Blackhole: The Golden Record</a></div>
  <br><br>
  <p class="mt-4">
    <strong>Supported by:</strong> National Museum of Nature and Science<br>
    <strong>Composer:</strong> Yu-Chia Kuo (co-composer, excerpt) <br>
  </p>
  <u><a href="https://web3.nmns.edu.tw/Exhibits/112/the-gravity-realm/index.html" target="_blank"> >> Exhibition Website</a></u>
  <br><br>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-p5.html'

extends _project-template.pug