- var pageTitle = 'Creative Coding - Touch Designer'
- var carouselImages = [
    {url: 'https://i.imgur.com/X9ErNz4.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/zMUdTHS.jpg', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/7E6EfH0.jpg', alt: 'Cover 3'}
  ]
- var descriptionHTML = `
  <p><strong>Generative Liquid | Touch Designer | 2023</strong></p>
  <p>- Implement a feedback-noise workflow with a fluid and dynamic liquid output.</p>

  <br><br>

  <p><strong>Orthographic Cubes | Touch Designer | 2023</strong></p>
  <p>- Generate a topographic grainy noise effect utilizing instancing, displacing, and noise.</p>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug