- var pageTitle = 'Immersi Topia'
- var carouselImages = [
    {url: 'https://i.imgur.com/p2jLsec.jpg', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/2wJnKw6.jpg', alt: 'Cover 1'}
  ]
- var descriptionHTML = `
  <p><strong>4VR sound installation + Electronics | 2023</strong><br><br>
  13th Student-Organized Human-Computer Interaction Workshop <br>
  Premiered – Taipei, Taiwan, 13 August 2023, National Taiwan University</p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <p>As prominent in virtual reality, loading experience design in VR becomes more indispensable...
  </p>
  <p>On the sonic part, this work simulates the human heartbeat rhythm to trigger real-time playback of tiny segments...
  </p>
  <br>
  <p><em>↓ scroll down for video</em></p>
  <br>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/IE3oC6ahQ54?si=6rKlptnzVQpieqFc"
      style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen
      title="YouTube Video"></iframe>
  </div>
  <p class="mt-4">↓ Poster<br>
    <img style="width:30%;" src="https://i.imgur.com/8cj3emE.jpg" alt="Poster">
  </p>
  <br>
  <p>Sound Design: Yu-chia Kuo<br>
  Visual Design: Lin Chia Hsien / Sun Wan Lin / Chu Yun Nien<br>
  VR Design: Liu Yu Jung / Lin Wun Chi / Tseng Hao Yi / Chen Le Ying <br>
  </p>
  <u> <a href="https://www.2023.openhci.com/" target="_blank"> >> OpenHCI'23 Website </a></u>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug