- var pageTitle = 'Rescore Work'
- var carouselImages = [
    {url: 'https://i.imgur.com/zmY2Dyo.jpg', alt: 'Cover 1'}
  ]
- var descriptionHTML = `
  <p><strong>Rescore Work | For orchestration | 2021</strong></p>
  <br>

  <h4 class="mt-4" style="color: var(--bs-body-color);">Fearful Odds</h4>
  <p>Rescore Work | For orchestration | 2021 <br>
  A rescore of a scene from the film, Oblivion (2013)<br>
  I attempt to use the Orchestra sounds to describe life and death, pain and relief in the chaotic time.</p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1229211352&..."></iframe>

  <br><br><h4 class="mt-4" style="color: var(--bs-body-color);">Ice Slide</h4>
  <p>Rescore Work | For orchestration | 2021 <br>
  A rescore of a scene from the film, Ice Age (2002)</p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1229209963&..."></iframe>

  <br><br><h4 class="mt-4" style="color: var(--bs-body-color);">Phosphenes</h4>
  <p>Rescore Work | For orchestration | 2021 <br>
  A rescore of a scene from the film, Last Christmas (2019)</p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1229209588&..."></iframe>

  <br><br><h4 class="mt-4" style="color: var(--bs-body-color);">Tristesse</h4>
  <p>Rescore Work | For orchestration | 2021 <br>
  A rescore of a scene from the film, Atonement (2007)</p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1235718697&..."></iframe>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug