- var pageTitle = 'Seascape Serenity'
- var carouselImages = [
    {url: 'https://i.imgur.com/UsJVq1s.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/NYH4r9p.jpg', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/TLXY9ig.jpg', alt: 'Cover 3'},
    {url: 'https://i.imgur.com/HmxFTMb.jpg', alt: 'Cover 4'},
    {url: 'https://i.imgur.com/wyuUlAO.jpg', alt: 'Cover 5'}
  ]
- var descriptionHTML = `
  <p><strong>49-channel Electronics + Visual | 2023</strong><br><br>
  C-LAB X IRCAM Workshop Program<br>
  Premiered – Taipei, Taiwan, 6 July 2024, Taiwan Sound Lab</p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <p>In this project, we explore the human-ocean interactions by merging bioacoustics with contemporary music
  technology. Utilizing underwater recordings, we create electroacoustic compositions that reshape the
  dynamics of marine ecosystems through informatics and sonic dimensions. This work accentuated the
  grandeur and vulnerability of the ocean and the significant impact of human-made noise—from shipping,
  machinery, and pile-driving—on marine life and cetaceans’ echolocation systems. By integrating auditory
  and visual elements, we offer an immersive multisensory exploration of the vibrant underwater world.</p>
  <br>
  <p>海洋並非靜謐無聲。這些來自海洋生物、地球物理事件和人類活動的喧鬧合唱，透過水下聽音器 (hydrophone)
  的視角，傳遞環境資料與生物多樣性的聲音訊號。創作者與中央研究院海洋生態聲學與資訊實驗室合作，利用深海錄音與水下環境監測資料，以聲音與影像轉譯海洋聲景的樣貌。 《Seascape
  Serenity》描繪廣袤海洋在無盡的索取與奪利中，被人性貪婪所吞噬的悲歌。船隻、機械、風場打樁聲等噪音，日復一日，持續鼓搗著凌亂的節奏，隨著鯨豚的回聲定位系統的失序，逐漸迷失而衰亡。在真實與虛構、原始與轉換的音像之間，勾勒出海洋生態的壯麗與脆弱。期望透過這個作品，探索海洋資源與人為活動發展之間的矛盾與共存，喚起大眾對於環境議題的重視。</p>
  <br>
  <p><em>↓ scroll down for video</em></p>
  <br>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe src="https://www.youtube.com/embed/2o_SvUiDpx4?si=-jnhMx2qrd6tQHcm"
      style="position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;" allowfullscreen
      title="YouTube Video"></iframe>
  </div>
  <p class="mt-4">↓ Poster<br>
    <img style="width:80%;" src="https://i.imgur.com/3wviro0.jpg" alt="Poster">
  </p>
  <br>
  <p class="mt-4">
    <strong>Supported by:</strong> C-LAB Taiwan Sound Lab (本計畫獲 C-LAB 臺灣聲音實體室支持)<br><br>
    <strong>Composer:</strong> Yu-Chia Kuo<br>
    <strong>Visual Design:</strong> Sin-Yu Deng<br>
    <strong>Underwater Recordings Dataset:</strong> Prof. Tzu-Hao Lin, Marine Ecoacoustics and Informatics
    Lab, Academia Sinica, Taiwan
  </p>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug