- var pageTitle = 'Seascape Serenity'
- var carouselImages = [
    {url: 'https://i.imgur.com/GnpagWA.jpg', alt: 'Cover 1'},
    {url: 'https://i.imgur.com/xuYS0WY.jpg', alt: 'Cover 2'},
    {url: 'https://i.imgur.com/PnPsAu4.jpg', alt: 'Cover 3'},
    {url: 'https://i.imgur.com/gOIcoNP.jpg', alt: 'Cover 4'},
    {url: 'https://i.imgur.com/QXJdk9Y.jpg', alt: 'Cover 5'}
  ]
- var descriptionHTML = `
  <p><strong>Immersive Dome Performance | 2025</strong><br><br>
  Labos Immersifs Residency<br>
  Premiered – Montréal, Canada, 21 March 2025, Satosphère of SAT</p>
  <br>
  <h4 class="mt-4" style="color: var(--bs-body-color);">CAPTION</h4>
  <br>
  <p>Tree Rings is an immersive dome performance that explores the metaphor of tree growth rings as a structure for
  interweaving memory and archival material through a layered dialogue between sound and visuals...</p>
  <br>
  <p>In the first section, Yu-Chia Kuo’s sound design employs granular synthesis...</p>
  <br>
  <p>The second section, created by Florence-Delphine Roux (sound) and Pia Vidal (visuals)...</p>
  <br>
  <p>These two movements offer a meditative, multisensory reflection on ecological time...</p>
  <br>
  <p><em>↓ scroll down for video</em></p>
  <br>
  <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
    <iframe src='https://www.youtube.com/embed/HUhMsEG15bQ?si=Q5-ZBSG7lACAis8r'
      style='position: absolute; top: 0; left: 0; width: 80%; height: 80%; border:0;' allowfullscreen
      title='YouTube Video'></iframe>
  </div>
  <p class='mt-4'>
    <strong>Supported by:</strong> Society for Arts and Technology (SAT), Arts hybrides et cultures numériques (AADN)<br><br>
    <strong>Sound Design:</strong> Yu-Chia Kuo, Florence-Delphine Roux<br>
    <strong>Visual Design:</strong> Time Wei, Pia Vidal<br>
    <strong>Photography:</strong> Ash KG, courtesy of SAT Montréal
  </p>
`
- var prevHref = 'project-treerings.html'
- var nextHref = 'project-gravity.html'

extends _project-template.pug